.contenedor {
    height: 60vh;
    max-height: 60vh;
    overflow: auto; 
    border: 1px solid black;
}

* {
    font-family: sans-serif;
}

.logo {
    text-align: center;
}

#tabla {
    max-height: 50%;
    width: 100%;
    font-size: larger;
}

.venta {
    margin-bottom: 20px;
    font-size: larger;
    width: calc(100% - 6px);
}

.cont1 {
    display: flex;
    align-items: center;
}

.btn1 {
    height: 15vh;
    width: 10dvw;
    background-position: center;
    background-size: cover; 
    cursor: pointer; 
    border: 2px solid black;
}

.total {
    display: flex;
    border: 2px solid black;
    height: 5dvw;
    width: 30%;
    margin-left: auto;
    font-size: larger;
    align-items: center;
    justify-content: center;
}



.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 300px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#tbody1{
    text-align: center;
}